<head>
    <meta charset="utf-8"/>
    <title>Mari Ohara</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='{{ base_url() }}/public/css/style.css' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/public/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ base_url() }}/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/public/css/animate/animate.css">
    <link rel="stylesheet" href="{{ base_url() }}/public/css/magic/magic.css">
    <script src="{{ base_url() }}/public/js/jquery-3.2.1.js"></script>
    <script src="{{ base_url() }}/public/js/animation.js"></script>
    <script src="{{ base_url() }}/public/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/public/js/jquery-ui.js"></script>

</head>
